# CONFIGURACIÓN DE MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USER=tfg_nodo
MQTT_PASSWORD=gisd2026
MQTT_TOPIC=estaciones/+/data

# CONFIGURACIÓN DE BASE DE DATOS
DB_FILE=sensores.db

# CONFIGURACIÓN DE FLASK
FLASK_ENV=production
SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion

# CONFIGURACIÓN SSE (Server-Sent Events)
SSE_AGGREGATION_INTERVAL=30
